.main{
    width: 100%;
    display:flex;
    justify-content: center;
    background-color: bisque;
    /* position: relative; */
}

.container{
    width: 390px;
    background-color: rgb(221, 237, 242);
    /* position: relative; */
}